# Операционная система
.DS_Store
Thumbs.db

# Локальные настройки IDE
.vscode/

# Бинарники и артефакты сборки Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Папки сборки (если используются)
build/
bin/

# Генерируемые файлы (если их можно сгенерировать на лету)
proto/gen/

# Зависимости, если используете vendor (обычно их можно восстановить по go.mod/go.sum)
vendor/

# Лог-файлы
*.log
*.jsonl

# Если внутри third_party есть вложенный .git, можно игнорировать его
protoc-gen-validate/
googleapis/

# Go workspace file
go.work
go.work.sum